{% extends "layouts/default.html" %}

{% block content %}

<div class="login_window">
  <h1>Login</h1>
  {% if let Some(OidcProviderData {name, redirect_url}) = oidc_data %}
  <form action="{{ redirect_url }}" method="get" id="form_login">
    {% if let Some(redirect_uri) = redirect_uri %}
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
    {% endif %}
    <button type="submit">Login with {{ name }}</button>
  </form>
  {% else %}
  <p>
  No login method available
  </p>
  {% endif %}
</div>


{% endblock %}
